// Colours

$color-primary: #111; // black 
$color-secondary: #f9f7f6;// white
$color-tertiary: #caa270; // goldish
$color-fourth: #aaa; // grey
$color-fifth: #ddd; // lightgrey


// fonts

$default-font-size: 1.6rem;
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Sacramento', sans-serif;
$font-display: 'Josefin Sans', sans-serif;



// Box Shadow

$box-shadow: 0 1.5rem 4rem rgba($color-primary, .15);
$box-shadow-light:  0 1rem 5rem rgba(#000, .05);

