// Colours

$color-primary: #101d2c; // black 
$color-secondary: #f9f7f6;// white
$color-tertiary: #caa270; // goldish
$color-fourth: #aaa; // grey
$color-fifth: #ddd; // lightgrey


// fonts

$default-font-size: 1.6rem;


// Box Shadow

$box-shadow: 0 1.5rem 4rem rgba($color-primary, .15);