.container {
  display: grid;
  grid-template-rows: 100vh 40vw min-content 40vw min-content 40vw min-content 40vw min-content 40vw;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; 
  // 8rem col is for sidebar
  // 8 middle cols hold content
  // 1fr cols for occupying remaining space 

}