.container {
  display: grid;
  grid-template-rows: 90vh 40vw min-content 40vw min-content 40vw min-content 40vw repeat(2, min-content);
  grid-template-columns: 8rem repeat(8, minmax(min-content, 14rem));
}