.btn {
  border: 4px solid $color-primary;
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  cursor: pointer;
  transition: all .3s;
  display: block;
  
  

  &:hover {
    transform: translateY(1px);
  }

  &--light {
    background-color: $color-secondary;
    color: $color-primary;

    &:hover {
      background-color: darken($color-secondary, 5%);
    }
  }

  &--dark {

  }
}