.contact {
  margin: 2rem;
  border: 1rem solid black;
  box-shadow: $box-shadow;
  padding: 4rem;
  background-image: linear-gradient(rgba($color-primary, .8), rgba($color-primary, .8)),
                    url('../images/contact-lrg.jpeg');
  background-size: cover;
  object-fit: cover;

  @include respond(phone) {
    padding: 2rem 0;
    margin: 0;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    text-align: center;
    color: $color-fourth;
  }

  &__text {
    display: block;
    width: 60%;
    margin: 0 auto;
    color: $color-fifth;
    font-size: 1.4rem;

    @include respond(tab-port) {
      width: 80%;
    }

    @include respond(phone) {
      width: 90%;
    }
  }

  &__frames {
    display: flex;
    flex-wrap: wrap;
  }

  &__frame {
    flex: 1 1 300px;
    background-color: rgba($color-primary, .7); 
    padding: 4rem;
    text-align: center;
    margin: 2rem;

    display: flex;
    flex-direction: column;
  }

  &__frame:hover {
    background-color: $color-primary; 
    transform: translateY(-3px);
    box-shadow: $box-shadow;
  
  }

  &__frame-text {
    font-size: 1.4rem;
    color: $color-fourth;
  }

  &__price {
    font-size: 5rem;
    color: $color-tertiary;
    margin-bottom: 5rem;
    margin-top: auto;
  }
}