.contact {
  grid-column: center-start / center-end;
  
  min-height: 550px;
  margin: 2rem;
  border: 1rem solid black;
  box-shadow: $box-shadow;
  padding: 4rem;
  background-image: linear-gradient(rgba($color-primary, .8), rgba($color-primary, .8)),
                    url('../images/contact-lrg.jpeg');
  background-size: cover;
  object-fit: cover;

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    text-align: center;
    color: $color-fourth;
  }

  &__text {
    display: block;
    width: 50%;
    margin: 0 auto;
    color: $color-fifth;
    font-size: 1.4rem;
  }

  &__frames {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  &__frame {
    background-color: rgba($color-primary, .7); 
    padding: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__frame:hover {
    background-color: $color-primary; 
    transform: translateY(-3px);
    box-shadow: $box-shadow;
  
  }

  &__frame-text {
    font-size: 1.4rem;
    color: $color-fourth;
  }

  &__price {
    font-size: 5rem;
    color: $color-tertiary;
    margin-top: auto;
  }
}