.header {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/header-lrg.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  color: $color-secondary;
  line-height: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include respond(tab-land) {
    padding: 0;
  }

  @include respond(phone) {
    padding: 0;
  }

  &__sub-title {
    font-size: 8rem;
    font-family: $font-secondary;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 2.5rem;

    @include respond(tab-land) {
      font-size: 5rem;
    }

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: $color-tertiary;
    }
  }

  &__main-title {
    text-transform: uppercase;
    font-family: $font-display;
    font-size: 20rem;
    border-bottom: 1px solid $color-tertiary;
    width: 100%;

    @include respond(tab-land) {
      font-size: 18rem;
    }

    @include respond(tab-port) {
      font-size: 14rem;
    }

    @include respond(phone) {
      font-size: 7.5rem;
    }
  }
}

