.header {
  grid-column: full-start / full-end;

  background-image: url('../images/header-lrg.jpeg');
  background-size: cover;
  position: relative;
  text-align: center;
  color: $color-secondary;
  padding: 0 10rem;
  line-height: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__sub-title {
    font-size: 8rem;
    font-family: $font-secondary;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 2.5rem;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: $color-tertiary;
    }
  }

  &__main-title {
    text-transform: uppercase;
    font-family: $font-display;
    font-size: 20rem;
    border-bottom: 1px solid $color-tertiary;
  }
}

