.story {
  
  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../images/mountain-lrg.jpeg');
    background-size: cover;
  }

  &__content {
    background-color: $color-secondary;
    color: $color-primary;
    padding: 6vw 6vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    // @include respond(tab-port) {
    //   grid-column: center-start / center-end ;
    // }
  }

  &__text {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }
}